textdistance
natsort
numpy<2
scipy
matplotlib
pytorch-lightning>=2.0.0
torch>=2.0.0,<3.0.0
torchvision>=0.15.0,<1.0.0
torchaudio>=2.0.0,<3.0.0
jsonargparse[signatures]==4.7
imagesize==1.4.1
dataclasses; python_version < '3.10'
flashlight-text